* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden {
    display: none;
}
body {
    background: linear-gradient(300deg, #CED1D6, #bfc0c0);
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}
#main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#form {
    position: fixed;
    top: 10%;
}
input {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    padding: 1rem;
    min-width: 300px;
}
input:focus {
    outline: none;
}
.weather {
    height: 300px;
    font-size: 2rem;
    position: relative;
    color: #fff;
    font-weight: bold;
    padding: 0 1rem;
    height: 45vh;
    
}
.weather h5 {
    margin: 1rem 0 0.5rem 0;
    font-size: 0.8rem;
    font-family: initial;
    text-transform: uppercase;
    font-weight: lighter;
}
.weather small {
    position: relative;
    top: -2rem;
}
.weather p {
    font-size: 1.1rem;
    display: inline-block;
    background-position: center;
}
.weather-inf {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem;
}
.weather-inf div {
    display: flex;
    flex-direction: column;
}
.weather-inf div p {
    font-size: 1.2rem;
}
.weather5days {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background:azure;
    padding: 0.5rem 1.5rem;
}
.day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    height: 8.7vh;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.day:nth-child(5) {
    border-bottom: none !important;
}
.day p {
    width: 10rem;
}
.tempandicon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.location-btn {
    width: 100%;
    height: 10vh;
    font-size: 1.3rem;
    background-color:rgba(37, 0, 250, 0.877);
    color: #fff;
    border-radius: 0 0 10px 10px;
    outline: none;
    border: none; 
}
.Clear {
    background: url(../img/clear.jpg);
     background-repeat: no-repeat;
    background-size: cover; 
}
.Clouds {
    background: url(../img/cloudy.jpg);
     background-repeat: no-repeat;
    background-size: cover; 
}
.Snow {
    background: url(../img/snow.jpg);
     background-repeat: no-repeat;
    background-size: cover; 
}
.rain {
    background: url(../img/rainy.jpg);
     background-repeat: no-repeat;
    background-size: cover; 
}
.sunny {
    background: url(../img/sunny.jpg);
     background-repeat: no-repeat;
    background-size: cover; 
}